name: renovate

on:
  schedule:
    - cron: '0 9 * * *'

  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.3.0

      - name: Renovate Bot GitHub Action
        uses: renovatebot/github-action@v44.0.3
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
